<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12">
          <h4>Name</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          <!-- <img alt="photo" /> -->
        </div>
        <div class="row"> 
        <div class="col-xs-3">
          <a
            class="btn btn-primary"
            style="margin: 0.5rem"
          >
            Edit
          </a>
          <a class="btn btn-danger"> Delete </a>
        </div>
    </div>
      </div>
    </div>
    <div class="panel-body">
      <label for="email">Email: </label>
      <br />
      <label for="phone">Phone: </label>
    </div>
  </div>